name: Ping endpoint every 10 minutes

on:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes
  workflow_dispatch:        # allow manual run

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping API endpoint
        run: |
          curl -s -o /dev/null -w "%{http_code}" https://wustream.com/
